<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src = '/javascript/require.js' data-main = '/javascript/adminIndex/adminIndex.main'></script>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/adminIndex.css'>
</head>
                     
<body>
	<div class = 'header'></div>
	<div class = 'top-bar'></div>
	<div class = 'left-bar'>

		<div class = 'left-artical-manger'>
			<span>站点信息<div>11</div></span>
		</div>
		<div class = 'left-artical-manger-content'></div>

		<div class = 'left-artical-manger'>
			<span>文章管理</span>
		</div>
		<div class = 'left-artical-manger-content'></div>

		<div class = 'left-artical-manger'>
			<span>图片管理</span>
		</div>
		<div class = 'left-artical-manger-content'></div>

	</div>
	<div class = 'content'>
		<div class = 'content-sort'></div>
		<div class = 'content-content'>
			<ul class = 'content-title'>
				<li>
					<span>ID</span>
				</li>
				<li>
					<span>文章标题</span>
				</li>
				<li>
					<span>文章分类</span>
				</li>
				<li>
					<span>置顶</span>
				</li>
				<li>
					<span>日期</span>
				</li>
				<li>
					<span>操作</span>
				</li>
				<li>
					<span>作者</span>
				</li>
			</ul>
		</div>
	</div>
</body>