<% include adminHeader.html %>
		<div class = 'add-message'>
			<form>
				<div class = 'input-group'>
					博客名称: <input type = 'text'>
				</div>
				<div class = 'input-group'>
					博客签名: <input type = 'text'>
				</div>
				<div>
					<ul>
						<li><div class = 'input-group'>菜单名称: <input type = 'text'></div></li>
						<li><div class = 'input-group'>菜单名称: <input type = 'text'></div></li>
						<li><div class = 'input-group'>菜单名称: <input type = 'text'></div></li>
					</ul>
				</div>
				<div class = 'input-group'>
					版权所有: <input type = 'text'>
				</div>
				<input type = 'submit' value = '提交' class = 'submit'>
			</form>
		</div>

		<div class = 'tag'>
			<div>
				<span>
					标签
					<input type = 'button' value = '添加' class = 'input-add'>
				</span>
				<ul>
					<li><div class = 'input-group'><input type = 'text'></div></li>
					<li><div class = 'input-group'><input type = 'text'></div></li>
					<li><div class = 'input-group'><input type = 'text'></div></li>
				</ul>
			</div>
		</div>

			<div class = 'tag'>
			<div>
				<span>
					标签
					<input type = 'button' value = '添加' class = 'input-add'>
				</span>
				<ul>
					<li><div class = 'input-group'><input type = 'text'></div></li>
					<li><div class = 'input-group'><input type = 'text'></div></li>
					<li><div class = 'input-group'><input type = 'text'></div></li>
				</ul>
			</div>
		</div>s


<% include adminFooter.html %>