<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel = 'stylesheet' type = 'text/css' href = '/css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/adminIndex.css'>
</head>
                     
<body>
	<div class = 'header'></div>
	<div class = 'top-bar'></div>
	<div class = 'left-bar'></div>
	<div class = 'content'></div>
	
</body>