<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel = 'stylesheet' type = 'text/css' href = '/css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/artical.css'>
</head>
                     
<body>
	<div class = 'body'>
		<div class = 'header'>
			<div class = 'logo-area'>
				<div class = 'logo-font'>
					<span>清源</span>
					<div class = 'logo-small-font'>
						<span>以大多数人的努力程度之底 更不轮不到拼天赋</span>
					</div>
				</div>
			</div>

			<div class = 'menu-top'>
				<ul class = 'menu-list'>
					<li>
						<span>Artical</span>
						<span class = 'menu-draw'></span>
					</li>
					<li>Who am I</li>
					<li>Tell me</li>
				</ul>
			</div>
		</div>

		<div class = 'content'>
			<div class = 'content-artical'>
				<div class = 'content-artical-artical'>
					<div class = 'content-artical-header'>
						<span class = 'content-artical-header-title'>测试文章</span>
						<div>
							<span class = 'content-artical-header-meg'>
								2015-3-6 · 0 条评论 · 清源
							</span>
						</div>
					</div>
					<div class = 'content-artical-content'>
						读万卷书”是指应该全面吸收书本知识，使自己具有渊博、扎实的文化素养
						行万里路是指亲身的社会实践
						读万卷书是指努力积累知识，为更加深入的实践做准备
						行万里路是指在你的知识已经积累到一定程度的前提下所进行的实践
						<img src = '/uploadImg/1.jpg' style = 'width:100%;'>
						两者的关系是量变与质变得关系，我们今天讨论的是不是二者谁优谁劣，而是立足当下，谁更加有利于我们认识世界
					</div>

					<div class = 'content-artical-public'>
						<p class = 'content-artical-public-title'>推荐文章</p>
						<div class = 'content-artical-public-content'>
							<ul>
								<li><a href = '#'>道哥的黑板报 - 走在创业路上的文艺白帽子</a></li>
								<li><a href = '#'>道哥的黑板报 - 走在创业路上的文艺白帽子</a></li>
								<li><a href = '#'>道哥的黑板报 - 走在创业路上的文艺白帽子</a></li>
								<li><a href = '#'>道哥的黑板报 - 走在创业路上的文艺白帽子</a></li>
								<li><a href = '#'>道哥的黑板报 - 走在创业路上的文艺白帽子</a></li>
							</ul>
						</div>
					</div>

					<div class = 'division-line'></div>

					<div class = 'content-artical-replay'>
						<div class = 'content-artical-replay-img-all'>
							<img src = '/uploadImg/1.jpg' class = 'content-artical-replay-img'>
							<p>&nbsp;Reply</p>
						</div>
						<div class = 'content-artical-replay-where'></div>

						<div class = 'content-artical-replay-content'>
							<p class = 'content-artical-replay-content-time'>2015-3-10 12:35</p>
							<p class = 'content-artical-replay-content-title'>小叶子</p>
							<p class = 'content-artical-replay-content-content'>一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。
							</p>

							<p class = 'content-artical-replay-replay'>回复</p>

						</div>

						<div class = 'content-artical-replay-img-all'>
							<img src = '/uploadImg/1.jpg' class = 'content-artical-replay-img'>
							<p>&nbsp;Reply</p>
						</div>
						<div class = 'content-artical-replay-where'></div>

						<div class = 'content-artical-replay-content'>
							<p class = 'content-artical-replay-content-time'>2015-3-10 12:35</p>
							<p class = 'content-artical-replay-content-title'>小叶子</p>
							<p class = 'content-artical-replay-content-content'>一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。
							</p>

							<p class = 'content-artical-replay-replay'>回复</p>
							
					
							<div class = 'content-artical-replay-ch'>
								<img src = '/uploadImg/1.jpg' class ='content-artical-replay-img'>
								<p>&nbsp;Reply</p>
								<div class = 'content-artical-replay-ch-content'>
									<p class = 'content-artical-replay-ch-title'>毛蛋子</p>
									<p class = 'content-artical-replay-content-ch-time'>
										2015-3-10 12:35
									</p>
									<p class = 'content-artical-replay-content-content'>一直使用The OldReader订阅看，看完这个还是回来表现下存在，嘿嘿。
									</p>
									<p class = 'content-artical-replay-replay'>回复</p>
								</div>
							</div>
						</div>
					</div>


					<div class = 'division-line'></div>

					<div class = 'content-artical-comment'>
						<div class = 'content-artical-comment-content'>
							<span class = 'content-artical-comment-title'>Leave a Reply</span>
							<form action = '' method = 'POST'>
								<div class = 'content-artical-btn-group'>
									<label for = 'author'>
										Author:
									</label> 
									<input type = 'text' id = 'author' class = 'input' name = 'author'>
								</div>
								<div class = 'content-artical-btn-group'>
									<label for = 'email'>
										Email:  
									</label>&nbsp;
									<input type = 'text' id = 'email' class = 'input' name = 'email'>
								</div>
								<textarea class = 'content-artical-textarea' name = 'content'></textarea>
								<input type = 'submit' value = 'submit' class = 'submit'>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class = 'right-bar'>
				<div class = 'right-bar-img'>
					<div class = 'right-bar-img-border'>
						<img src = '/uploadImg/2.jpg' class = 'right-bar-img-size'>
					</div>
					<P class = 'right-bar-img-introduce'>我的微信 ^ ^</P>
				</div>

				<div class = 'right-bar-content'>
					<p class = 'right-bar-content-title'>近期评论</p>

					<ul>
						<li>
							<span>御前男捕快</span> 发表在《<a href = '#'>【WinOMeter】记录鼠标键盘敲击次数/移动距离的小工具</a>》
						</li>
						<li>
							<span>御前男捕快</span> 发表在《<a href = '#'>道哥的黑板报</a>》
						</li>
						<li>
							<span>御前男捕快</span> 发表在《<a href = '#'>【WinOMeter】记录鼠标键盘敲击次数/移动距离的小工具</a>》
						</li>
						<li>
							<span>御前男捕快</span> 发表在《<a href = '#'>【WinOMeter】记录鼠标键盘敲击次数/移动距离的小工具</a>》
						</li>
						<li>
							<span>御前男捕快</span> 发表在《<a href = '#'>【WinOMeter】记录鼠标键盘敲击次数/移动距离的小工具</a>》
						</li>
					</ul>

					<div class = 'right-bar-fun'>
						<p class = 'right-bar-content-title'>功能</p>
						<ul class = 'right-bar-content-fun'>
							<li>> 登录</li>
							<li>> Github</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>