<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src = 'javascript/require.js' data-main = 'javascript/index/index.main'></script>
	<link rel = 'stylesheet' type = 'text/css' href = 'css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = 'css/index.css'>
</head>

                              
<body>
	<div class = 'header'>
		<div class = 'logo-area'>
			<div class = 'logo-font'>
				<span>清源的博客</span>
				<div class = 'logo-small-font'>
					<span>以大多数人的努力程度之低 根本轮不到拼天赋。</span>
				</div>
			</div>
		</div>

		<div class = 'menu-top'>
			<ul class = 'menu-list'>
				<li>
					<span>Artical</span>
					<span class = 'menu-draw'></span>
				</li>
				<li>Who am I</li>
				<li>Tell me</li>
			</ul>
		</div>
	</div>

	<div class = 'content'>
		<div class = 'content-artical-bg'>

			<div class = 'content-artical-artical'>
				<img src = 'img/7.jpg' class = 'content-img'>
				<div class = 'content-artical-header'>
					<span class = 'content-artical-title'>Nblog的测试文章</span>
					<div class = 'content-artical-meg'>
						<span>2015-01-29 · 0 条评论 · 清源</span>
					</div>
				</div>
				<div class = 'content-artical-content'>
						每次单步运行一条语句后，都可以通过Watch（监视）窗口观察有关变量的值，或者将鼠标光标移动到源程序中的某个需要观察的变量上，停留一秒钟就可以看到这个变量的值，如图17所示。	如果我们确认当前函数中没有错误时，可以使用Step Out命令快速地执行完毕当前的函数，暂停在该函数调用的下一条语句上。
						如果我们确认某一段源代码中没有错误时，可以将键盘光标（插入符）放置在这段代码的末尾处，使用Run to Cursor（运行到光标处）命令快速地执行完毕这一段代码，
				</div>
				<div class = 'content-artical-next'>
					<span>继续阅读 >></span>
				</div>
			</div>



			<div class = 'content-artical-artical'>
				<img src = 'img/10.jpg' class = 'content-img'>
				<div class = 'content-artical-header'>
					<span class = 'content-artical-title'>Nblog的测试文章</span>
					<div class = 'content-artical-meg'>
						<span>2015-01-29 · 0 条评论 · 清源</span>
					</div>
				</div>
				<div class = 'content-artical-content'>
						每次单步运行一条语句后，都可以通过Watch（监视）窗口观察有关变量的值，或者将鼠标光标移动到源程序中的某个需要观察的变量上，停留一秒钟就可以看到这个变量的值，如图17所示。	如果我们确认当前函数中没有错误时，可以使用Step Out命令快速地执行完毕当前的函数，暂停在该函数调用的下一条语句上。
						如果我们确认某一段源代码中没有错误时，可以将键盘光标（插入符）放置在这段代码的末尾处，使用Run to Cursor（运行到光标处）命令快速地执行完毕这一段代码，
				</div>
				<div class = 'content-artical-next'>
					<span>继续阅读 >></span>
				</div>
			</div>

			<div class = 'content-artical-artical'>
				<img src = 'img/10.jpg' class = 'content-img'>
				<div class = 'content-artical-header'>
					<span class = 'content-artical-title'>Nblog的测试文章</span>
					<div class = 'content-artical-meg'>
						<span>2015-01-29 · 0 条评论 · 清源</span>
					</div>
				</div>
				<div class = 'content-artical-content'>
						每次单步运行一条语句后，都可以通过Watch（监视）窗口观察有关变量的值，或者将鼠标光标移动到源程序中的某个需要观察的变量上，停留一秒钟就可以看到这个变量的值，如图17所示。	如果我们确认当前函数中没有错误时，可以使用Step Out命令快速地执行完毕当前的函数，暂停在该函数调用的下一条语句上。
						如果我们确认某一段源代码中没有错误时，可以将键盘光标（插入符）放置在这段代码的末尾处，使用Run to Cursor（运行到光标处）命令快速地执行完毕这一段代码，
				</div>
				<div class = 'content-artical-next'>
					<span>继续阅读 >></span>
				</div>
			</div>

			<div class = 'content-artical-artical'>
				<img src = 'img/10.jpg' class = 'content-img'>
				<div class = 'content-artical-header'>
					<span class = 'content-artical-title'>Nblog的测试文章</span>
					<div class = 'content-artical-meg'>
						<span>2015-01-29 · 0 条评论 · 清源</span>
					</div>
				</div>
				<div class = 'content-artical-content'>
						每次单步运行一条语句后，都可以通过Watch（监视）窗口观察有关变量的值，或者将鼠标光标移动到源程序中的某个需要观察的变量上，停留一秒钟就可以看到这个变量的值，如图17所示。	如果我们确认当前函数中没有错误时，可以使用Step Out命令快速地执行完毕当前的函数，暂停在该函数调用的下一条语句上。
						如果我们确认某一段源代码中没有错误时，可以将键盘光标（插入符）放置在这段代码的末尾处，使用Run to Cursor（运行到光标处）命令快速地执行完毕这一段代码，
				</div>
				<div class = 'content-artical-next'>
					<span>继续阅读 >></span>
				</div>
			</div>


			<div class = 'content-artical-page'>
				<div class = 'content-artical-page-previous'>
					<div class = 'content-artical-page-font-left'><< 上一页</div>
				</div>
				<div class = 'content-artical-page-mid'>
					<div class = 'content-artical-page-font-mid'>1/7</div>
				</div>
				<div class = 'content-artical-page-next'>
					<div class = 'content-artical-page-font-right'>下一页 >></div>
				</div>
			</div>
		</div> 
	</div>

	<div class = 'right-col'>
		 <div>
		 	<div class = 'right-col-img'>
		 		<div class = 'right-col-img-border'>
		 			<img src = 'img/1.jpg' class = 'right-col-img-size'>
		 		</div>
		 		<div class = 'right-col-img-tag'>
		 			<div class = 'right-cpl-img-tag-font'>标
		 				<a href = '#' class = 'right-col-title-a'>签</a>
		 			</div>
		 			<div  class = 'right-col-img-tag-tag'>
		 				<span class = 'right-col-img-tag-font'>文艺青年</span>
		 			</div>
		 			<div  class = 'right-col-img-tag-tag'>
		 				<span class = 'right-col-img-tag-font'>黑客</span>
		 			</div>
		 			<div  class = 'right-col-img-tag-tag'>
		 				<span class = 'right-col-img-tag-font'>爱旅游</span>
		 			</div>
		 			<div  class = 'right-col-img-tag-tag'>
		 				<span class = 'right-col-img-tag-font'>好交友</span>
		 			</div>
		 		</div>
		 	</div>

			<div class = 'right-col-content'>
				<span class = 'right-col-title'>近期
					<a href = '#' class = 'right-col-title-a'>文章</a>
				</span>
				<ul>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
					<li>> 写在2015年的元旦</li>
				</ul>
			</div> 


			<div class = 'right-col-content'>
				<span class = 'right-col-title'>文章					
					<a href = '#' class = 'right-col-title-a'>归档</a>
				</span>
				<ul>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
					<li>> 2015年一月</li>
				</ul>
			</div> 

			<div class = 'right-col-content'>
				<span class = 'right-col-title'>功			
					<a href = '#' class = 'right-col-title-a'>能</a>
				</span>
				<ul class = 'right-col-content-util'>
					<li>> 登录</li>
					<li>> 其他</li>
				</ul>
			</div> 
		</div>
	</div>

	<div class = 'footer'>
		<div>
 			<div class = 'footer-line'></div>
 			<div class = 'footer-font'>
 				<ul>
 					<li><a href= '#'>源码地址</a></li>
 					<li>@_@  2015 清源的博客 —— All Rights Reserved</li>
 				</ul>
 			</div>
		</div>
	</div>
</body>