<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src = 'javascript/require.js' data-main = '/javascript/index/index.main'></script>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/ini.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/indexCom.css'>
	<link rel = 'stylesheet' type = 'text/css' href = '/css/index.css'>
</head>

                              
<body>
	<div class = 'body'>
		<% include indexHeader.html %>

		<div class = 'content'>
			<div class = 'content-artical-bg'>

				<% for (var i = 0; i < data.artical.length; i++){ %>

					<div class = 'content-artical-artical'>

						<% if (data.artical[i].img){ %>
							<img src = 'uploadImg/<%= data.artical[i].img %>' class = 'content-img'>
						<% } %>

						<div class = 'content-artical-header'>
							<span class = 'content-artical-title'><%= data.artical[i].title %></span>
							<div class = 'content-artical-meg'>
								<span><%= data.artical[i].time %> · <%= data.artical[i].comCount %> 条评论 · <%= data.artical[i].author %></span>
							</div>
						</div>
						<div class = 'content-artical-content'>
								<%- data.artical[i].content %>
						</div>
						<div class = 'content-artical-next'>
							<a href = "/artical/<%= data.artical[i].time %>/<%= data.artical[i].title %>">
								<span>继续阅读 >></span>
							</a>
						</div>
					</div>

				<% } %>

				<div class = 'content-artical-page'>
					<div class = 'content-artical-page-previous'>
						<div class = 'content-artical-page-font-left'><< 上一页</div>
					</div>
					<div class = 'content-artical-page-mid'>
						<div class = 'content-artical-page-font-mid'>1/7</div>
					</div>
					<div class = 'content-artical-page-next'>
						<div class = 'content-artical-page-font-right'>下一页 >></div>
					</div>
				</div>
			</div> 
		</div>

		<div>

		<div class = 'right-bar'>
			


			 	<div class = 'right-bar-img'>
			 		<div class = 'right-bar-img-border'>
			 			<img src = 'uploadImg/<%= data.config[0].blog_right_img %>' class = 'right-bar-img-size'>
			 		</div>
			 		<div class = 'right-bar-img-tag'>
			 			<div class = 'right-bar-img-tag-font-title'>标签</div>

			 			<% for (i = 0; i < data.tag.length; i++){ %>
			 				<% if (data.tag[i].tag_name){ %>
			 					<div  class = 'right-bar-img-tag-tag'>
					 				<span class = 'right-bar-img-tag-font'><%= data.tag[i].tag_name %></span>
					 			</div>
			 				<% } %>
			 			<% } %>
			 		</div>
			 	</div>


				<div class = 'right-bar-content'>
					<span class = 'right-bar-title'>归档</span>
					<ul>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
						<li> 2015年一月</li>
					</ul>
				

				<!-- <div class = 'right-col-content'>
					<span class = 'right-col-title'>功能</span>
					<ul class = 'right-col-content-util'>
						
						<li>
							<a href = '<%= data.config[0].blog_address %>'>> 登录</a>
						</li>
						
						<li>
							<a href = '<%= data.config[0].blog_github %>'>> Github</a>
						</li>
						
					</ul>
				</div> -->
					<div class = 'right-bar-fun'>
						<p class = 'right-bar-content-title'>功能</p>
						<ul class = 'right-bar-content-fun'>
							<li>
								<a href = '<%= data.config[0].blog_address %>'>> 登录</a>
							</li>
							<li>
								<a href = '<%= data.config[0].blog_github %>'>> Github</a>
							</li>
						</ul>
					</div>
				</div> 


		</div>



		<% include indexComFooter.html %>

		</div>
	</div>
</body>