.content {
	float: right;
	width: 84%;
	height: 550px;
	background-color: #DDEEF2;
}

.content-sort {
	width: 98%;
	height: 35px;
	background-color: #F4FAFB;
	margin-left: 1%;
	margin-top: 10px;
	border: 1px solid #80BDCB;
}

.content-publish {
	height: 25px;
	width: 8%;
	margin-top: 5px;
	margin-left: 88%;
	position: relative;
	background-color: #278296;
	border-radius: 3px;
}

.content-publish span{
	display:block;
	padding-top: 3px;
	padding-left: 15px;
	color: #fff;
}

.content-artical {
	width: 90%;
	height: 500px;
	margin-left: 5%;
}

.content-artical-all {
	margin-top: 15px;
}

.content-artrical-title {
	margin-left: 10%;
	font-size: 20px;
}

.title-input {
	width: 40%;
	height: 25px;
	padding-left: 10px;
	color: gray;
}

.select-input {
	padding-left: 6%;
	display: inline;
	width: 20%;
}

.textarea-position {
	margin-top: 15px;
	margin-left: 10%;
}

.teatarea-input {
	padding: 15px;
	width: 56%;
	height: 360px;
}

.group-button {
	margin-left: 35%;
	margin-top: 20px;
}

.submit-btn {
	width: 65px;
	height: 23px;
	margin-right: 3%;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid gray;
}

.button-btn {
	width: 65px;
	height: 23px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid gray;
}

